.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
  color: white;
}

.user-data {
  margin-left: 10px;
}

button {
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  height: 50%;
}
