.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(25, 25, 25, 0.95);
  color: #fff;
  font-family: Arial, sans-serif;
}


.add-video {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-video label{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.add-video input[type="text"], select, input[type="file"]{
  border: 1px solid #333;
  border-radius: 0.3rem;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: #333;
  color: #fff;
}


.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-title {
  font-size: 48px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.videos {
  width: 100%;
  max-width: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.videos h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.videos li {
  margin-bottom: 30px;
  list-style: none;
}

.videos video {
  width: 100%;
}

.images {
  width: 100%;
  max-width: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.images h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.images li {
  display: inline-block;
  margin-right: 20px;

}

.images img {
  height: 200px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

button {
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 20px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

button:hover {
  background-color: #fff;
  color: #141414;
  cursor: pointer;
}
