<body>
<div class="container">

  <div *ngIf="userService.user?.user_type == 'Author'" class="buttons">
    <button class="change-btn" (click)="toChange()">Change</button>
    <button class="delete-btn" (click)="deleteMovie()">Delete</button>
    <button class="add-video-btn" (click)="addVideo()">Add Video</button>
    <button class="add-img-btn" (click)="addImage()">Add Image</button>
  </div>

  <div *ngIf="this.authService.is_authenticated" class="movie-details">
    <h1 class="movie-title">{{ this.movieDetails?.movie?.title }}</h1>
<!---->
    <div *ngIf="addVideoButton"  (submit)="addVideoToMovie()">
      <form [formGroup]="formVideo" class="add-video">
        <label for="title">Title:</label>
        <input formControlName="title" id="title" name="title" type="text" required>

        <label for="fileVideo">Video</label>
        <input id="fileVideo" name="file" type="file" (change)="onVideoSelect($event)" required>
        <button type="submit">Create</button>
      </form>
    </div>

    <div *ngIf="addImageButton"  (submit)="addImageToMovie()">
      <form [formGroup]="formVideo" class="add-video">
        <label for="fileVideo">Image</label>
        <input id="fileImage" name="file" type="file" (change)="onVideoSelect($event)" required>
        <button type="submit">Create</button>
      </form>
    </div>

    <div class="videos">
      <h2>Videos</h2>
      <ul>
        <li *ngFor="let video of movieDetails?.videos">
          <video controls>
            <source src="http://localhost:8000/{{ video.file }}" type="video/mp4">
          </video>
        </li>
      </ul>
      <h2>About this film:</h2>
      <h3>{{this.movieDetails?.movie?.description}}</h3>
    </div>

    <div class="images">
      <h2>Images</h2>
      <ul>
        <li *ngFor="let image of movieDetails?.images">
          <img src="http://localhost:8000/{{ image.file }}/" height="200px">
        </li>
      </ul>
    </div>

  </div>

</div>
</body>
