<body>

<div *ngIf="!this.authService.is_authenticated">

  <div class="login-wrapper">

    <div class="login-form">

      <form (submit)="onSubmit()" class="input-data">

        <h1>Login</h1>
        <input type="text" [(ngModel)]="email" name="email" placeholder="email"/>
        <input type="password" [(ngModel)]="password" name="password" placeholder="password"/>
        <button type="submit">Login</button>

      </form>

      <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>

      <div class="sign-up">
        <h4>New at Subliminal? <a (click)="this.router.navigate(['/registration'])">Sign up now!</a> </h4>

      </div>
    </div>



  </div>
</div>
</body>


