* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #141414;
  color: #fff;
}


.creation-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(25, 25, 25, 0.95);
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 400px;
  padding: 30px;
}


form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"], select, input[type="file"] {
  border: 1px solid #333;
  border-radius: 0.3rem;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: #333;
  color: #fff;
}

select {
  color: #808080;
}

input[type="file"] {
  margin-bottom: 40px;
}

button[type="submit"] {
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #d30913;
}
